env
.env
config.txt
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
terraform.tfstate
terraform.tfstate.backup
.gitignore
.DS_Store
DS_Store
gitignore
kubespray
/kubespray